@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

$backgroundColor: #efefef;

#title {
  font-size: 3rem;
  font-weight: 200;
  color: white;
  margin: .5rem;
}

h2 {
text-align: center;
text-decoration: underline;
}

.todo{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form, .list {
  margin: 0 auto;
}

.todoInput, .todoButton {
  width: 15rem;
  margin: 0 auto;
}