@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.people {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: 8.8rem;
}

.person {
  margin: 1rem auto;
  text-align: center;
}